.our-buttons{
  margin-top:-8px;
  margin-left:-50px;
}

.recipients-flex {
  display: flex;
  align-items: center;
  .sub-flexbox {
    display: flex;
    justify-content: space-around;
  }
}
.my-container{
  margin-left:70px;
  margin-right:70px;
}

.my-user-profile{
  margin-top: 20px;
  background-color: $white;
  border-radius: 4px;
  padding: 20px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  margin: 50px 80px 20px 0px;
  width:1000px;
}

.recipient-content {
  flex: 1 1 auto;
  background-color: #d8d4d4;

}

.recipient-name {
  h3 {
    color: $white !important;
    font-size: 50px;
    font-family: $headers-font;
    text-align: left;
  }
  margin-left: 80px;
  margin-top: 15px;

}

.recipient-header {
  padding: 16px;
  display: flex;
  color: #353333;
  img {
    height: 300px;
    margin-right: 16px;
    width: auto;
    margin:auto;
  }
  h1 {

    font-size: 42px;
    margin-left: 120px;
  }
  h2 {
    font-size: 24px;
    margin-left: 120px;
    font-style: lighter;
  }
  p {
    font-size: 20px;
    color: rgba(0,0,0,0.7);
    font-weight: lighter;
    // font-style: italic;
    margin-right: 350px;
    margin-left: 120px;

  }
  a {
    color: #353333;
  }
}

.item-card {
  flex: 0 1 auto;
  padding: 20px;
}

.items {
  margin-right:100px;
}
.donations {
  width: 30%;
}

.recipient-bio{
  padding-right: 30px;
  padding-top: 16px;
}

.item-card{
  position: relative;
  margin: auto;
  padding: 10px;
  overflow: hidden;
  text-decoration:none;
  color:black;
  background-position: center;
  a{
    color:black;

  }
  a:hover{
    text-decoration:none;
    color:green;
  }
  border-radius: 10px;
  box-shadow:1px 2px #718b9c99;
  margin-bottom: 20px;

}

.my-profile-button{
  margin-bottom: 11px;
  background-color: $light-purple;
  border: none;
  color: $white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-style: $body-font;
  p {
    margin-bottom: 0px;
  }
  margin-left:50px;
}
.my-profile-button2{
  margin-bottom: 11px;
  background-color: $light-purple;
  border: none;
  color: $white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-style: $body-font;
  p {
    margin-bottom: 0px;
  }
  margin-left:20px;
}

// cards
.my-caption {
  position: relative;
  background-color: #fcfcfc;
  padding: 5px 5px 10px;
  width: 100%;

  h3 {
    padding-left: 20px;
    position: absolute;
    bottom: 100%;
    text-transform: uppercase;
    border-radius: 0 5px 0 0;
    margin: 0;
    left: 0;
    font-weight:90;
    color: white;
    background-color: $light-purple;
    min-width: 150px;
    font-size: 24px;
  }

  h2 {
    padding-left: 20px;
    padding-right: 10px;
    position: absolute;
    top: 20px;
    text-transform: uppercase;
    border-radius: 0 5px 0 0;
    margin: 0;
    left: 0;
    font-weight:90;
    color: white;
    background-color: $light-purple;
    min-width: 150px;
    font-size: 24px;
  }
}
.less-width{
  width:89%;
  text-align:center;
}
// id styling

#move-me-left{
  margin-left:170px !important;
}


#moveleft{
  margin-left:80px;
}
#closer-button{
  margin-left:5px;
}
#small-text{
  font-size:14px;
}
#less-margin{
  margin-top: -4px;
}
#grey-text{
  opacity: 0.8;
  font-size:15px;
}
#my-item-descriptions{
 font-size: 16px;
 text-align: left;
 line-height: 1.6em;
 overflow: visible;
 color:black;
 padding-left:30px;
}

#requested-items{
  font-family: Muli;
}
#donations-title{

}
#success{
  height: 16px;
  padding-bottom: 75px;
}



// id styling
