
.recipients-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;


}
.our-buttons{
  margin-top:-8px;
}
#closer-button{
  margin-left:5px;
}
#small-text{
  font-size:14px;
}
#grey-text{
  opacity: 0.8;
  // color:$light-grey;
  font-size:15px;
}
#my-item-descriptions{
 font-size: 0.8em;
  text-align: left;
  line-height: 1.6em;
  height:40px;
  overflow: visible;
  color:black;
}
.my-user-profile{
  margin-top: 20px;
  background-color: $white;
border-radius: 4px;
padding: 20px;
box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
margin: 50px 135px 20px 50px;
width:800px;
}
#less-margin{
  margin-top: -4px;
}

.recipient-content {
  flex: 1 1 auto;
  background-color: #d8d4d4;

}
.recipient-name {
  h3 {
  color: $white !important;
  font-size: 50px;
  font-family: $headers-font;
  text-align: left;
}
  margin-left: 80px;
  margin-top: 15px;

}

.recipient-header {
  padding: 16px;
  display: flex;
  color: #353333;
   img {
    height: 300px;
    margin-right: 16px;
    width: auto;
  }
  h1 {

    font-size: 42px;
    margin-left: 120px;
  }
  h2 {
    font-size: 24px;
    margin-left: 120px;
    font-style: lighter;
  }
  p {
    font-size: 20px;
    color: rgba(0,0,0,0.7);
    font-weight: lighter;
    // font-style: italic;
    margin-right: 350px;
    margin-left: 120px;

  }
  a {
    color: #353333;
  }
}

// .item-card {
//   flex: 0 1 auto;
//   padding: 20px;
// }

.items {
  width: 70%;
  justify-content: space-around;
}
.donations {
  width: 30%;
}

.recipient-bio{
  padding-right: 30px;
  padding-top: 16px;
}
.item-card{
  position: relative;
  margin: auto;
  //box-shadow: 0.3px 0.7px 0.3px 3px #ffffff;
 // width:  93% !important;
 padding: 10px;
 overflow: hidden;
  text-decoration:none;
  color:black;
  background-position: center;

  a{
    color:black;

  }
  a:hover{
    text-decoration:none;
    color:green;
  }
  // border: solid 1px black;
  border-radius: 10px;
  box-shadow:1px 2px #718b9c99;
  margin-bottom: 20px;

}

#requested-items{
  // margin-left: 18px;
  font-family: Muli;
}
#donations-title{
  margin-top:-210px;
}
#success{
  padding-left: 33%;
  height: 16px;
}
.my-profile-button{
margin-bottom: 11px;
background-color: $light-purple;
border: none;
color: $white;
padding: 15px 25px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
border-radius: 4px;
box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
font-style: $body-font;
p {
  margin-bottom: 0px;
}
margin-left:50px;
}
.my-profile-button2{
margin-bottom: 11px;
background-color: $light-purple;
border: none;
color: $white;
padding: 15px 25px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
border-radius: 4px;
box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
font-style: $body-font;
p {
  margin-bottom: 0px;
}
margin-left:20px;
}

