
.container-show {

  display: flex;
  align-items: center;
  margin-top: 10%;
}
.wrapper {

  height: 800px;
  width: 80%;
  align-items: center;
  background-color: #0D7377;
  margin: auto;

}

.profile-avatar {
 vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.text-box {
  background-color: white;
  height: 600px;
  width: 80%;
  margin: auto;
  margin-top: 6%;
}
