<footer style="margin-top: 10%;"">
  <div class = "footer">

    <div class="footer-box">
        <a href= "#" class="our-blue">About</a>
        <a href= "#" class="our-blue">Contact us</a>
        <a href= "#" class="our-blue">Meet the team</a>
        <a href= "#" class="our-blue">Terms and conditions</a>
    </div>
    <div class="footer-links">
      <!-- <h3>Find us on:</h3> -->
      <div class="margin-auto">
      <a href="#"><i class="fab fa-github our-blue"></i></a>
      <a href="#"><i class="fab fa-instagram our-blue"></i></a>
      <a href="#"><i class="fab fa-facebook-square our-blue"></i></a>
      <a href="#"><i class="fab fa-twitter-square our-blue"></i></a>
      <a href="#"><i class="fab fa-linkedin our-blue"></i></a>
      </div>
    </div>
  </div>
</footer>
