<h1>Our Mission</h1>

<p>Homeful is committed to using the power of technology and human relationships to fight urban poverty.  Our fundraising platform allows donors to directly connect with the most vulnerable people in their communities, while ensuring that our members are uplifted and empowered in an effective way.</p>
<p>In a world of contactless cards, cryptocurreny and mobile payments not many people carry money around. At Homeful we are dedicated to helping the most vulnerable in thier communities</p>

<h1>Our values</h1>
We believe that poverty is more than just a financial situation
We believe that belonging, love, and equality are inalienable human rights
We believe that people experiencing poverty are our peers, not our problem
We believe that defending dignity is at the root of effective social change
We believe that pursuing sustainable solutions is the key to long term development
We believe that transparency is an obligation not an option
We believe in empowering people on both sides of the giving process
<h1>The Problem</h1>
Over 3.9 million people lie victim to persistent poverty across the UK. However, statistics cannot begin to capture the full breadth of the at-risk community. People experiencing tough times, often feel embarrassed and don’t know where to turn — leaving them increasingly vulnerable and isolated from help.

At the same time, we understand that passing someone in need can sometimes be an uncomfortable experience.  You want to help, but you are unsure if your donations will be used effectively if given to a charity or only end up fueling addictions if given directly.

<h1>How we help</h1>
We’ve built a social giving platform that provides a more personal and dignified approach to supporting those in need. With StreetChange, you can rest assured that your generosity will be used in the most beneficial and sustainable way possible.

By partnering with local organisations, we setup our members to receive not only immediate relief but also opportunities for long term development. In this way, we aim to move beyond bandaid solutions and tackle the heart of the problem surrounding people’s poverty.
