<div class="container">
  <%= simple_form_for [@recipient, @item, @contribution] do |f| %>
  <div class="col-xs-6 col-xs-offset-2">

    <%= f.input :amount_cents, label: "Amount in Pounds" %>
    <%= f.input :message %>
    <%= f.submit %>
  <% end %>
  </div>
</div>
