
.index {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 10px 1%;
  width: 100%;
  background: #fcfcfc;
  color: #333;
  text-align: left;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  margin-top:10px;
  transition: all 0.3s ease;
}

.index:hover {
  margin: 10px 0;
  box-shadow: 1px 8px 20px gray;
}

.index * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}
.index.img {
  max-width: 100%;
  vertical-align: top;
}
.caption {
  position: relative;
  background-color: #fcfcfc;
  padding: 10px 20px 10px;
  width: 100%;
}

.caption h3 {
  padding-left: 20px;
  position: absolute;
  bottom: 100%;
  text-transform: capitalize;
  border-radius: 0 5px 0 0;
  margin: 0;
  left: 0;
  font-weight:90;
  color: white;
  background-color: $light-purple;
  min-width: 150px;
  font-size: 24px;
}

.caption h2 {
  padding-left: 20px;
  padding-right: 10px;
  position: absolute;
  top: 20px;
  text-transform: capitalize;
  border-radius: 0 5px 0 0;
  margin: 0;
  left: 0;
  font-weight:90;
  color: white;
  background-color: $light-purple;
  min-width: 150px;
  font-size: 24px;
}

.caption p {
  font-size: 0.8em;
  font-weight: 300;
  text-align: left;
  line-height: 1.6em;
  height: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  padding-bottom: 0px;
  margin-bottom: 0px;

}

.icons {
  position: absolute;
  bottom: 0;
  right: 10px;
}

.icons i {
  margin: 0 2px;
  padding-right: 2px;
  padding-left: 2px;
  padding-bottom: 0px;
  font-size: 16px;
  color: white;
  background-color: $light-purple !important ;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background: white;
  border-radius: 5px 5px 0 0;
}

.requests {
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 5px;

}

.requests-content {
  font-size: 14px;
  color: gray;
}

.card {
  position: relative;
  margin: 20px 0;
  //box-shadow: 0.3px 0.7px 0.3px 3px #ffffff;
 // width:  93% !important;
 padding: 10px;
 overflow: hidden;
 text-overflow: ellipsis;
}

.card-link {
  text-decoration: none !important;
}

.slick-prev:before, .slick-next:before {
  color: gray !important;
}

.cards a {
  text-decoration: none;
  color: black !important ;
}


.card-photo {
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 3px;
}

.card-name {
  padding: 10px;
  border-radius: 3px;

  // height: 80px;
  // font-size: 32px;
  font-style: thin;
  font-family: 'Heebo', sans-serif;
  color: black;
  background: white;

}
.card-name p {
  font-size: 15px;
  color: gray;
  font-style: thin;
  .card-name h3 {
    padding-bottom:20px;
  }
  .recipient-name{
  // display: flex;
  // position: absolute;
  font-size: 14px;
}
.recipient-price{
  // display:flex;
  // position: absolute;
  font-size: 12px;
  margin-top: 5px;
  color:#827c7c;
}

}

.card-bio {
  height: 130px;
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  color:black;
  font-weight:lighter ;
  padding: 8px;
}

.card:hover {
  margin: 20px 0;
  box-shadow: 1px 8px 20px gray;
  text-decoration: none !important ;
}

.card-date{
  height: 25px;
  padding: 10px;
  display: flex;
  color: gray;
  font-style: bold;
  font-size: 11px;
}


.footer-links {
  display: flex;
  align-items: center;
}
.slick-dots {
  margin-bottom: 16px !important;
}

#item-descriptions p {
  font-size: 0.8em;
  text-align: left;
  line-height: 1.6em;
  height:5vh;
  overflow: visible;
}

#category-type{
  font-size: 18px !important;

}

#amount-raised {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top: 50px;
}

.existing-item {
  padding-bottom: 5px;
  background: white;
}
