.comment {
  background-color: #fcfcfc;
  padding: 10px 20px 5px 30px;
  letter-spacing: 1.2;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  margin-bottom: 25px;
  border-radius: 5px;
  position: relative;
}

.line::after {
    content: "";
    position: absolute;
    left: 50%;
    width: 2px;
    background: #28c2ba;
    height: 35px;
    z-index: -1;
}

.donation-giver {
  font-size: 22px;
  margin-bottom: 3px;

}

.donation-time {
  font-size: 14px;
  color: #a5a5a5;
}


#contributions-title {
  // padding-top: 18px;
  margin-top: 10px;
  padding-left: 30px;
}

.no-donations {
  padding-left: 25px;
}


