html {
    position: relative;
    min-height: 100%;
    scroll-behavior:smooth;

}


body {
    margin: 0 0 80px;
    /* bottom = footer height */

}

.footer {
  background: #F4F4F4;
  height: 80px;
  padding: 0px 40px;
  color: rgba(0,0,0,0.3);
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  // padding-top: 50px;;
  overflow: hidden;
  margin-top: 30px;
  // position:relative;
  width:40%;
  margin:auto;
  color:black;
}

.footer-links h3 {
  font-size: 16px;
  margin: 0;
}
.footer-links {
  display: flex;
  align-items: center;
  // justify-content: flex-end;
}
.footer-links a {
  // color: #0D7377;
  // opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
  margin:auto;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  // color: #0D7377;
}
.footer-box{
  display:flex;
  justify-content:space-around;
}
.margin-auto{
  margin:auto;
}
