div.desc {
  background: none;
  box-shadow: none;
     color: #797272;
margin-left: 24px;
    margin-top: -2px;

}
#more {
    color: #5d5757;
    font-size: 32px;
    margin-top: 28px;
}

.time{
      border-radius: 6px;
}
