.navbar-wagon {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10000;
}

.navbar-wagon-white {
  background-color: white;
  color: black;
  z-index: -1; position:relative;
}

.navbar-home {
  position: absolute;
  box-shadow: none;
  width: 100%;
  background:transparent;
}

/* Navbar link */
.navbar-wagon-link {
  color: white;
  font-size: 16px;
  opacity:0.8;
  &:hover {
    opacity:1;
    text-decoration: none;
    color: white;
  }
}

.navbar-global{
  background-color: $dark-grey;
}

/* Logo */
.navbar-wagon-brand img {
  height: 50px;
}

/* User Avatar */
.navbar-wagon .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 900px;
}

.navbar-wagon-left {
  height: 64px !important;
  margin-right: 20px;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  // margin-right:16px;
  color: white;
  font-size: 16px;
}


/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}

.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}

.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}

.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

.flex-form{
  display: flex;
  justify-content:space-between;
  width: 200px;
  height:40px;
  margin-top:-12px;
  color: #0D7377 !important;
}

.search-button {
  height: 25px;
  font-size: 16px;
}
.search-input{
  width:95px;
  font-size:16px;
}

#search-form{
  height: 35px !important;
  margin-top: 1px;
  // margin-right: 16px;
  opacity:0.8;
  &:hover{
    opacity:1;
  }
}

.btn-outline-success{
  border-color: #0D7377 !important;
  margin-top: 1px !important;
}

.btn-outline-success:hover{
  background-color: #0D7377 !important;
}

.searchbtn {
  font-size: 13px !important;
  height: 36px;
  margin-left: 9px;
  border-radius: 6px;
}

.imagelogo{
  height: 53px;
}

.navbar-brand{
  padding:0 !important;
  margin-top: 6px;
}

.search-input {
  color: white;
  background: transparent;
  border: none;
  border-bottom: 2px solid;
}

.search-input:focus {
  outline: none;
}

.search-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

.margin-right{
  margin-right:20px;
}

#navbar-wagon-menu{
  padding-top: 12px;
}
.myline{
  font-size: 16px;
  color:white;
  margin-left: 12px;
  margin-right: 12px;
}
