.performance-container {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(220,220,220);
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 15px;
}
.my-performance-container {
  width: 275px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(220,220,220);
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 15px;
}

.performance-rate {
  margin-left: 10px;
}

.performance-bar {
  height: 15px;

}

.performance-bar-green {
  background-color: green;
  border-radius:5px 0px 0px 5px;
}

.performance-bar-green-complete {
  background-color: green;
  border-radius:5px 5px 5px 5px;
}

.performance-bar-red {
  background-color: red;
  border-radius:5px 0px 0px 5px;

}

.performance-bar-orange {
  background-color: orange;
  border-radius:5px 0px 0px 5px;
}

#contribution_amount_cents {
// height: 30px;
// width: 195px;
// // margin-left: 36px;
// margin-left: 150px;
    height: 30px;
    width: 124px;
    margin-left: 145px;
}

.donate-form {
  margin-left: auto;
  margin-right: auto;
  width:93%
}
